[Unit]
Description=Moex Alerter Bot
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/git/moex-alerter-bot
ExecStart=/root/.local/bin/poetry run aiogram_bot_template
EnvironmentFile=/opt/git/moex-alerter-bot/.env
Restart=always

[Install]
WantedBy=multi-user.target