[Unit]
Description=Moex Alerter Bot
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/opt/git/moex-alerter-bot
ExecStart=/root/.local/bin/poetry run moex_alerter_bot

Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target